/* Universal Selector */
* {
  margin:0;
  padding:0; 
  box-sizing: border-box;
}



html {
  scroll-behavior: smooth;
}

/* Element Selectors */
body {
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: grey;
  color: white;
  text-align: center;
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
  max-width: 1000px;
  margin: auto;
}

.col-sm-3 {
  color:black;
  justify-content: center;
  margin-bottom: 30px;
  padding-left: 50px;
}



a {
  text-decoration: none;
  color: #00c3ff;
}



footer {
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #4F4846;
  color: #FDF8F5;    
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
}



label {
  display: inline-block;
  width: 100px;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #4F4846;
}

textarea {
  vertical-align: top;
  height: 60px;
}
  
button {
  height: 40px;
  width: 120px;
  background-color: #4F4846;
  color: #FDF8F5;
}
 
/* Class Selectors */
.text-center {
  text-align: center;
}

.contact-section{
  text-align: center;
  margin-top:200px;
}

.aboutMe {
  text-align: center;
  color: white;

}

.text-right {
  text-align: right;
}


#Padding{
  margin-bottom: 200px;
}

#ContactPadding{
  padding-top: 250px;
  margin-top: 250px;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header ul li {
    background: #ff0000;
    text-align: center;
    font-size: small;
  }
}

